<div id="<%= dom_id club %>">
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>Foundation date:</strong>
    <%= club.foundation_date %>
  </p>

  <p>
    <strong>Federation:</strong>
    <%= club.federation_id %>
  </p>

</div>
