<p style="color: green"><%= notice %></p>

<h1>Clubs</h1>

<div id="clubs">
  <% @clubs.each do |club| %>
    <%= render club %>
    <p>
      <%= link_to "Show this club", club %>
    </p>
  <% end %>
</div>

<%= link_to "New club", new_club_path %>
