<div id="<%= dom_id federation %>">
  <p>
    <strong>Name:</strong>
    <%= federation.name %>
  </p>

  <p>
    <strong>Foundation date:</strong>
    <%= federation.foundation_date %>
  </p>

</div>
