<h1>Editing federation</h1>

<%= render "form", federation: @federation %>

<br>

<div>
  <%= link_to "Show this federation", @federation %> |
  <%= link_to "Back to federations", federations_path %>
</div>
